<!doctype html>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<script src="https://use.fontawesome.com/0aee473986.js"></script>
<link rel="icon" href="/favicon.ico">
<!-- <script type="module" src="/middleware/index.js"></script> -->

<header>
    <nav>
        <a href="/member">Home</a> |
        <a href="/member/view-project">My Projects</a> 
        <a href="/member/logout"><button id="logoutBtn">Logout</button></a>
    </nav>
</header>

<script>
    /*
    const logoutBtn = document.getElementById("logoutBtn");
    logoutBtn.addEventListener("click", event => {
        window.location.href = "http://localhost:1337/pulse/logout";
        //console.log(res.cookies.token.token);
        //res.clearCookie("token");
    });
    */
</script>

<main class="main">
