<%- include("header", {title: title}); %>

<h1>About</h1>

<img src="/img/snowy-mountains.jpg" width="700px" alt="Mountains">

<p>Skapad av Axel Jönsson (axjo21)</p>


<ul>
    <pre><%= JSON.stringify(res, null, 4) %></pre>
</ul>

<%- include("footer"); %>
